<ion-content [fullscreen]="true" class="login-content">

  <div class="brand">
    <a href="https://www.jamiecoulter.co.uk" target="_blank">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png" alt="Logo" />
    </a>
  </div>

  <div class="login" [ngClass]="{'test': isTest, 'testtwo': isTestTwo}">
    <div class="login_title">
      <span>Login to your account</span>
    </div>

    @if (showFields) {
    <div class="login_fields">
      <div class="login_fields__user">
        <div class="icon" [style.opacity]="userFocus ? 1 : 0.5">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png" alt="User Icon" />
        </div>
        <input type="text" placeholder="Username" [(ngModel)]="username" (focus)="userFocus = true"
          (blur)="userFocus = false" [disabled]="loading" (keyup.enter)="login()" />
        <div class="validation" [style.opacity]="username.length > 0 ? 1 : 0"
          [style.right.px]="username.length > 0 ? 30 : 20">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png" alt="Tick" />
        </div>
      </div>

      <div class="login_fields__password">
        <div class="icon" [style.opacity]="passFocus ? 1 : 0.5">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png" alt="Lock Icon" />
        </div>
        <input type="password" placeholder="Password" [(ngModel)]="password" (focus)="passFocus = true"
          (blur)="passFocus = false" [disabled]="loading" (keyup.enter)="login()" />
        <div class="validation" [style.opacity]="password.length > 0 ? 1 : 0"
          [style.right.px]="password.length > 0 ? 30 : 20">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png" alt="Tick" />
        </div>
      </div>

      <div class="login_fields__submit">
        <input type="submit" [value]="loading ? 'Loading...' : 'Log In'" (click)="login()" [disabled]="loading" />
        <div class="forgot">
          <a href="#" (click)="$event.preventDefault()">Forgotten password?</a>
        </div>
      </div>
      @if (errorMessage) {
      <p class="login-error">{{ errorMessage }}</p>
      }
    </div>
    }

    @if (showSuccess) {
    <div class="success">
      <h2>Authentication Success</h2>
      <p>Welcome back</p>
    </div>
    }

    @if (showFields) {
    <div class="disclaimer">
      <p>Ian Castro Fuentes</p>
    </div>
    }
  </div>

  <div class="authent" [ngClass]="{'visible': isAuthentVisible}" [style.display]="authentDisplay"
    [style.right.px]="authentRight" [style.opacity]="authentOpacity">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg" alt="Loading" />
    <p>Authenticating...</p>
  </div>


  <!--  <div class="love">
    <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" alt="Love" /> by <a
        href="https://www.jamiecoulter.co.uk" target="_blank">Jcoulterdesign</a></p>
  </div> -->

</ion-content>

<!-- al inicio y -->